
<link rel="stylesheet" href="css/table.css">

<div id="contenedor-form-num">
    
    <form id="formulario" action="/clientes/nuevo" method="POST" autocomplete="off">
        <div class="bg-color"><h3>Añadir Usuario</h3></div>
        <input type="text" name="nombre" autocomplete="off" placeholder="Nombre">
        <input type="text" name="telefono" autocomplete="off" placeholder="Telefono">
        <input type="text" name="direccion" autocomplete="off" placeholder="Dirección">
        <button class="boton" type="submit" style="margin-top:auto; margin-bottom:30px;">Enviar</button>
        
    </form>
    <div id="tabla-numero">
        <div class="bg-color"><h3>Número de usuarios</h3></div>
        <div><h2>{{contar}}</h2></div>
  
        
    </div>
</div>
<div id="busqueda-bar">
    <table class="customers">
        <tr class="bg-color">
            <th>Buscar</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>ID</th>
        </tr>
        <tr>
            <td><input  type="text" id="cliente" placeholder="Buscar Cliente"></td>
            <td><input name="random" type="radio" id="nombre-input" checked></td>
            <td><input name="random" type="radio" id="telefono-input"></td>
            <td><input name="random" type="radio" id="id-input"></td>

        </tr>
    </table>
</div>


<div id="container-clientes-tabla">
    <table id="clientes-tabla" class="customers">
        <thead>
            <tr class="nombre-tabla bg-color">
                {{#if respuesta}}
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    
                {{else}}
                    <th style="text-align:center;">NO HAY USUARIOS REGISTRADOS!</th>
                {{/if}}
            </tr>
        </thead>
        
        <tbody id="respuesta-ajax">
        {{#each respuesta}}
            <tr class="borrar">
                <td>{{ID_cliente}}</td>
                <td>{{nombre}}</td>
                <td>{{telefono}}</td>
                <td>{{direccion}}</td>
            
            </tr>
        {{/each}}

            
        </tbody>
    
    </table>
</div>
<div id="container-editar">
    <div class="bg-color">
        <h3>Editar Usuario</h3>
    </div>
    <div>
        <form action="">

            <p>Nombre</p>
            <input type="text" name="nombre" value="">
            <p>Telefono</p>
            <input type="text" name="telefono">
            <p>Direccion</p>
            <input type="text" name="direccion">
        
        </form> 
        <div id="editar-clientes-btn">
            <input type="submit" onclick="" class="boton" style="width: 100px;" value="Cancelar" id="boton-enviar">
            <input type="submit" onclick="actualizar();" class="boton" value="Guardar" style="width: 100px;" id="boton-enviar">
            <input type="submit" onclick="borrar(); " value="Eliminar" class="boton" id="boton-eliminar" style="width: 100px">
        </div>
    </div>

    

</div>






<script src="/js/index.js"></script>